<launch>

	<!-- <node pkg="octomap_server" type="octomap_server_node" args="$(find ar_drone_moveit)/launch/5822.bt" name="octomap_server"> -->
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
		<param name="resolution" value="0.01" />
		
		<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
		<param name="frame_id" type="string" value="cloud_frame" />
		
		<!-- maximum range to integrate (speedup!) -->
		<param name="sensor_model/max_range" value="10.0" />

		<param name="height_map" value="false" />
		<param name="color/r" value="0" />
		<param name="color/g" value="1" />
		<param name="color/b" value="0.5" />
		<param name="color/a" value="1" />
		<param name="latch" value="false" />		

		<!-- data source to integrate (PointCloud2) -->
		<remap from="cloud_in" to="/pointcloud2" />
	
	</node>

</launch>
